@import "tailwindcss";

/* Hard lock the vibe */
:root {
  --dark: #48494b;
  --light: #e3e5e4;
}

html,
body {
  background: var(--light);
  color: var(--dark);
}

/* Make everything sharp / pixel-like */
* {
  border-radius: 0 !important;
}

button {
  border-radius: 0 !important;
}